// Button.scss


.blue-button {
  background-color: #9e0a2f;;
  color: white;
  border: none;
  border-radius: 15px; /* Adjust as needed */
  padding: 4px 8px;
  cursor: pointer;
}

.blue-button:hover {
  background-color: #ec2027;
}
