// Button.scss


.blue-button {
  background-color:  #F89448;
  color: white;
  border: none;
  border-radius: 15px; /* Adjust as needed */
  padding: 4px 8px;
  cursor: pointer;
}

.blue-button:hover {
  background-color:  #c9600f;;
}
