.fixed-drawer {
  height: 100%;
  padding-top: 15px;
  background: $white-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 6px 20px rgba(0, 0, 0, 0.12);
}

.drawer-content {
  .account-settings {
    padding: 5px 20px;
    border-radius: $border-radius;

    img {
      object-fit: contain;
      object-position: center center;
      padding: 10px;
    }
  }

  .drawer-list {
    ul.main-list {
      list-style: none;
      margin: 0;
      padding: 0;

      .list-item {
        margin-bottom: 4px;
        overflow: hidden;

        &.uk-parent.uk-open {
          background-color: $white-color;

          .down-arrow {
            position: absolute;
            right: 5px;
            transform: rotate(180deg);
            transition: transform 0.3s ease-in-out;
          }
        }

        .navlink {
          position: relative;
          padding: 0.4em 0.5em;
          font-size: $font-size;
          transition: all 0.3s ease-in-out;
          color: $secondary-color;
          font-weight: $font-weight-semibold;
          display: block;
          border-radius: 4px;

          &:hover {
            background-color: lighten($primary-color, 20%);
            color: darken($secondary-color, 15%);
          }

          .down-arrow {
            position: absolute;
            right: 5px;
            top: 8px;
            transition: transform 0.3s ease-in-out;
          }
        }

        .active {
          background-color: $primary-color;
          color: $white-color;
          font-weight: bold;
          border-radius: 4px;
        }

        .uk-nav-sub {
          padding: 5px 0 5px 0px;

          .navlink {
            border-left: 4px solid transparent;
            padding-left: 10px;
          }

          .active {
            border-left: 4px solid $accent-color !important;
          }
        }
      }
    }
  }
}

.uk-offcanvas-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -270px;
  width: 270px;
  padding: 20px 20px;
  background: $white-color !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
