body {
  font-family: 'Lexend', sans-serif; /* Add fallback font */
  font-style: normal; 
}
.saved-alert {
  margin-top: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    margin-bottom: 10px; 
  }
  
  h3 {
    color: #ffffff;
  }
  